/* start reCAPTCHA styles */

/* writes to small text above reCAPTCHA upon failure */



        /* end reCAPTCHA styles */

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {

    form>div {
    margin:1em;
}
.contact {
	font-family: "Great Vibes", cursive;
}
label, input, textarea {
	margin: 1em;
}
form {
	position: absolute;
	bottom: 4em;
	right: 4em;
	z-index: 999;
	background: #e6e6fa;
	opacity: 0.7;
	border-radius: 25px;
	padding: 1em;
	width: 500px;
	text-align: center;

}
fieldset{
	border-radius: 25px;
	padding: 1em;
}
input:required {
    padding: 0.5em;
}

input:optional, textarea:optional {
     padding: 0.5em 0;
}

input[type="submit"], input[type="button"], input[type="file"] {
  padding: 0.3em 0.5em;
}
::placeholder {
    color: red;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1em; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1em;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1em;
}
}

/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {


}


/* PHONE */
@media all and (max-width:736px) {
.contact {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url('../images/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
		font-family: "Great Vibes", cursive;
    text-align: center;
}

label {
    font-size: 1em;
}
form {
	width: 95%;
	margin:0 auto;
	border-radius: 0;
	position: static;
  background: #e6e6fa;
  opacity: 0.7;
}
footer {
  position: sticky;
}
fieldset {
  margin: 6em auto;
    border: 0;
    background: transparent;
    border-radius: 0;
    width: 100%;
    height: 100%;
}
legend, input {
	margin: 1em 0;
}
legend {
    padding: 0.2em 0;
    }
input:required {
    padding: 0.5em 0;
}
input:optional, textarea:optional {
     padding: 0.5em 0;
}

input[type="submit"], input[type="button"], input[type="file"] {
  padding: 0.3em 0.5em;
}
}
