
* , html, body, p, h5, h5, h4, h3, h2, h1, header, main, aside, span,
footer, nav, ul, li, ol, div, img, section {
    margin:0;
    padding:0;
    font: 100%;
    color:#000;
}
html {
    background-color:#e6e6fa;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
@font-face {
font-family: 'TimeBurner';
src:url("fonts/timeburnernormal.ttf");
}

h2.pageID {
    text-align: center;
}
p, section>h2 {
    margin:10px;
}
.cover {
    width: 100%;
    height: 800px;
    overflow: hidden;
    margin:0;
    padding:0;
    background: #000;

}
.title {
        /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Mrs Sheppards', cursive;
    font-size:3em;
    position:absolute;
    top:50px;
    left: 75px;
    color:#e6e7fa;
    z-index: 1;
}
.coverimage {
    width: 100%;
}

main {
    width: 100%;
    height: 700px;

}

.div {
    width: 100%;
    height: 800px;
}

h1>a {
    text-decoration: none;
    color:#000;
    font-family: 'TimeBurner';
}

.logo {
    color:red;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
    height:50px;
    line-height:1.5em; 
    background:#333;
    color:white;
    width:100vw;
    margin:0 auto;
    overflow:hidden;
    }

/*style gallery*/
#gallery {
    width:100vw;
}
.example-image {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    margin:0;
    padding:0;
}
#gallery > h2 {
    font-variant: small-caps;
    font-size: 1.5em;
    text-align: center;
}
#gallery {
    margin: 0 auto;
    width:80%;
}

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
	div.wrapper {
		width:80%;
		margin:auto;
	}

    section {
		width:65%;
		float:left;
	}
	
	aside {	
		width:34%;
		float:right;
	}
			
	
    img.desktop {
       float:left;
       width:50%;
        margin: 10px;
        vertical-align: top;
    }
    
    img.tablet, img.phone {
        display:none;
    }  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #e6e6fa;
        color:#000;
    }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:39%;
		float:right;
	}
	
    img.tablet {
       width:50%;
        margin:10px;
        vertical-align: top;
        float:left;
    }
    
    img.phone, img.desktop {
        display:none;
    }
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
    }
}


/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       width:100%;
        vertical-align: top;
    }
    
    img.tablet, img.desktop {
        display:none;
    }  
}