
* , html, body, p, h5, h5, h4, h3, h2, h1, header, main, aside, span,
footer, nav, ul, li, ol, div, img, section {
    margin:0;
    padding:0;
    font-size: 100%;
}
html {
    background-color:#e6e6fa;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
h2.pageID {
    text-align: center;
}
p, section > h2 {
    margin:10px;
}
#toTheTop {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 2em;
    color: #000;
    text-align: center;
    margin: 1em auto 3em;;
}
#toTheTop a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 0.5em 1em;
    margin:1em;
    font-variant: small-caps;
}
#toTheTop a:hover {
    color: #5e557f;
}
.cover {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin:0;
    padding:0;
    background: #000;
    z-index: 1;
    position: absolute;

}
.container {
    width: 100vw;
    margin:0;
    padding:0;
    z-index: 1;
    position: absolute;

}
.title {
        /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Mrs Sheppards', cursive;
    font-size:3em;
    position:absolute;
    top:50px;
    left: 75px;
    color:#e6e7fa;
    z-index: 1;
}
.coverimage {
    width: 100%;
    z-index: 999;
}

#about {
    width: 30vw;
    height: 100%;
    background: #e6e6fa;
    position:absolute;
    top:0;
    right:0;
    opacity:0.6;
    padding: 2em;
    font-family: 'Patrick Hand SC', cursive;
    text-align: justify;
    font-size: 1.4em;
    z-index: 1;
}
#about > h3 {
    text-decoration: underline;
    font-size: 1.75em;
}

.div {
    width: 100%;
    height: 800px;
}

h1>a {
    text-decoration: none;
    color:#000;
}

.logo {
    color:red;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    height:3em;
    line-height:1.5em; 
    background:#333;
    color: #666;
    width:100vw;
    margin:0 auto;
    overflow:hidden;
    text-align: center;
    border-top:1px solid #000;
    position: absolute;
    z-index: 2;
    bottom: 0;
    }
footer a {
    color: #666;
    
}
footer a:hover {
    color: #5e557f;
}


/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
	div.wrapper {
		width:80%;
		margin:auto;
	}
	
	aside {	
		width:34%;
		float:right;
	}
			
	
    img.desktop {
       float:left;
       width:50%;
        margin: 10px;
        vertical-align: top;
    }
    
    img.tablet, img.phone {
        display:none;
    }  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #e6e6fa;
        color:#000;
    }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	
	aside {	
		width:39%;
		float:right;
	}
	
    img.tablet {
       width:50%;
        margin:10px;
        vertical-align: top;
        float:left;
    }
    
    img.phone, img.desktop {
        display:none;
    }
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
    }
}


/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       width:100%;
        vertical-align: top;
    }
    
    img.tablet, img.desktop {
        display:none;
    }  
    .coverimage {
        display: none;
    }
    #about {
        font-size: 1em;
        position: static;
        width: 100%;
    }
    .title {
        position: static;
        text-align: center;
        font-size: 2em;
        width: 100%;
        background: #000;
        color: #e6e6fa;
    }
    .cover, .container {
        width: 100vw;
    }
    footer{
        padding-bottom: 2em;
    }
}